body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fbfcfd, #030f0f83);
    
}

.container {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.contact-details {
    margin-top: 20px;
}

.contact-details h2 {
    color: #333;
}

.contact-details p, .contact-details a {
    color: #555;
}

.contact-details a {
    text-decoration: none;
    color: #007bff;
}

.contact-details a:hover {
    text-decoration: underline;
}

img
{
    display: block;
    margin: auto;

}

.payment-details {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}